@import '../../node_modules/vuetify/src/stylus/main'

body
  font-family: 'Roboto Slab', serif;

.pricing_card {
  margin: 10px;
}

.list {
    width: 100%;
}

.headline.packagename {
  font-size: 32px !important;
  font-weight: 600;
  text-align: center;
  height: 35px;
}
