<template>
  <v-container>
    <v-layout row wrap>
      <v-flex md12>
        <img :src="image.image_url" style="width: 128px; float: left; margin: 10px">
        <h1>{{image.title}}</h1>
      </v-flex>
      <!--<v-flex md2>-->
      <!--<v-card class="text-md-justify" style="height: 100%">-->
      <!--<v-card-title primary-title v-html="image.description">-->
      <!--</v-card-title>-->
      <!--</v-card>-->
      <!--</v-flex>-->
      <!--<v-flex md2>-->
      <!--<v-card class="text-md-justify " style="height: 100%">-->
      <!--<v-card-title primary-title v-html="image.description_line1">-->
      <!--</v-card-title>-->
      <!--</v-card>-->
      <!--</v-flex>-->
      <!--<v-flex md2>-->
      <!--<v-card class="text-md-justify  " style="height: 100%">-->
      <!--<v-card-title primary-title v-html="image.description_line2">-->
      <!--</v-card-title>-->
      <!--</v-card>-->
      <!--</v-flex>-->

      <!--<v-flex md1>-->
      <!--<p v-html="image.image">-->
      <!--</p>-->
      <!--</v-flex>-->

    </v-layout>
    <v-layout row wrap justify-center>
      <v-flex xs12 md4 v-for="package in packages" :key="package.package_name">
        <v-card class="pricing_card">
          <v-card-title primary-title>

            <div>
              <h3>{{package.package_name}}</h3>
            </div>

          </v-card-title>
          <v-list class="darken-4" dark>
            <template v-for="item in package.desriptionLines">
              <v-list-tile v-bind:key="item.text">
                <v-list-tile-content :style="{margin: '10px', borderLeft: '2px solid', borderColor: item.color}" class="white--text">
                  <span :style="{textAlign: 'left', lineHeight: '24px', margin: '5px'}" v-html="item.text"></span>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
          <v-card-title>
            <div class="text-lg-right" style="width: 100%">
              <h3>$ {{package.cost}} </h3>
            </div>
          </v-card-title>
          <v-card-actions>
            <div class="row">
              <div class="col-md-12">
                <v-chip label outline :color="tag.color" v-for="tag in package.tagList" :key="tag.text">{{tag.text}}</v-chip>
              </div>
              <div class="col-md-12">
                 <v-spacer></v-spacer>
                <v-btn color="orange" :to="'/image/' + image.title + '/' + package.package_name">
                    Create instance
                  </v-btn>
              </div>
            </div>
           
          </v-card-actions>
        </v-card>
      </v-flex>


    </v-layout>
  </v-container>
</template>
<script>
  import jsonApi from '../api/jsonapi'
  import worldManager from '../api/worldmanager'
  import VCardTitle from "vuetify/src/components/VCard/VCardTitle";

  var ColorHash = require('color-hash');
  var colorHash = new ColorHash();

  export default {
    components: {VCardTitle},
    data() {
      return {
        image: {},
        packages: [],
      }
    },
    filters: {
      unquote(re) {

        if (re[0] == "'" && re[re.length - 1] == "'") {
          return re.substring(1, re.length - 1)
        }
        if (re[0] == '"' && re[re.length - 1] == '"') {
          return re.substring(1, re.length - 1)
        }
        return re;
      },
      colorise(str) {
        return colorHash.hex(str);
      }

    },
    methods: {},
    metaInfo() {
      return {
        title: this.image.title,
      }
    },
    mounted() {
      var that = this;
      //         that.image = res.data;

      console.log("get image by name", this.$route.params.image_name);
      worldManager.loadModel("image").then(function (res) {
        jsonApi.findAll("image", {
          filter: that.$route.params.image_name,
          include: "package"
        }).then(function (res) {
          console.log("search result", res);
          var data = res.data;
          var image = data[0];
          that.image = image;
          worldManager.loadModel("package").then(function () {
            jsonApi.one("image", image.id).all("package_id").get({
              page: {
                number: 1,
                size: 3,
              }
            }).then(function (res) {
              console.log("package results", res);
              that.packages = res.data;
              that.packages.map(function (pack, p) {
                pack.desriptionLines = pack.description.split("\n").map(function (e) {
                  return {
                    text: e,
                    color: colorHash.hex(e)
                  }
                });
                pack.tagList = pack.tags.split(";").map(function (tag) {
                  var parts = tag.split(":");
                  return {
                    text: parts[0],
                    color: parts[1] ? parts[1] : "black",
                  }
                });
                console.log("pag", p);
              })
            })
          })

        })
      })
    }
  }
</script>
<style>
  /*.pricing_card {*/
  /*padding: 10px;*/
  /*}*/
</style>
