<template>
  <v-container fluid>


    <v-layout row wrap justify-center>
      <v-flex md12>
        <v-layout row wrap>
          <v-flex md6>
            <h1>{{image.title}}</h1>
          </v-flex>
          <v-flex md6>
            <v-spacer></v-spacer>
            <v-flex id="payment"></v-flex>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex md6 xs12>
        <v-layout row wrap>
          <v-flex md6>
            <h2>{{package.package_name}}</h2>
          </v-flex>
          <v-flex justify-right>
            <span style="font-size: 45px;">$ {{package.cost}}</span>/month
          </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs12 md4>

          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex md5 xs12>
        <v-layout row wrap>
          <v-flex>
            <v-list class="darken-4" dark>
              <template v-for="item in package.desriptionLines">
                <v-list-tile v-bind:key="item.text">
                  <v-list-tile-content :style="{'margin': '10px', 'backgroundColor': item.color, 'padding': '10px', 'textAlign': 'center'}" class="white--text">
                    <v-list-tile-title>{{ item.text }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>

          </v-flex>
        </v-layout>
      </v-flex>
      <v-snackbar
        :timeout="6000"
        :top="true"
        :right="true"
        v-model="paymentCompleted"
      >
        {{ paymentCompleteText }}
        <v-btn flat color="pink" @click.native="paymentCompleted = false">Close</v-btn>
      </v-snackbar>
    </v-layout>


  </v-container>
</template>
<script>
import jsonApi from "../api/jsonapi";
import worldManager from "../api/worldmanager";
import actionManager from "../api/actionManager";
import appConfig from "../api/appConfig";
var ColorHash = require("color-hash");

var colorHash = new ColorHash();

export default {
  data() {
    return {
      image: {},
      package: [],
      paymentCompleteText: "",
      paymentCompleted: false,
      appConfig: appConfig,
    };
  },
  methods: {
    setup() {
      var that = this;

      console.log("get image by name", this.$route.params.image_name);
      worldManager.loadModel("image").then(function(res) {
        jsonApi
          .findAll("image", {
            filter: that.$route.params.image_name,
            include: "package"
          })
          .then(function(res) {
            console.log("search result", res);
            var data = res.data;
            var image = data[0];
            that.image = image;
            worldManager.loadModel("package").then(function() {
              jsonApi
                .one("image", image.id)
                .all("package_id")
                .get({
                  page: {
                    number: 1,
                    size: 3
                  },
                  filter: that.$route.params.package_name
                })
                .then(function(res) {
                  console.log("package results", res);
                  that.package = res.data[0];

                  if (that.package.description != null) {
                    that.package.descriptionLines = that.package.description
                      .split("\n")
                      .map(function(e) {
                        return {
                          text: e,
                          color: colorHash.hex(e)
                        };
                      });
                  } else {
                    that.package.description = [];
                  }
                  if (that.package.tags != null) {
                    that.package.tagList = that.package.tags
                      .split(";")
                      .map(function(tag) {
                        var parts = tag.split(":");
                        return {
                          text: parts[0],
                          color: parts[1] ? parts[1] : "black"
                        };
                      });
                  } else {
                    that.package.tags = [];
                  }

                  window.paypal.Button.render(
                    {
                      env: "sandbox",
                      // Pass the client ids to use to create your transaction on sandbox and production environments

                      client: {
                        sandbox:
                          "ARFCrfCLbmlUIYo4tGsdbrlMih1Uni8RdTKh0oZo-21lk-2GzaK8f_8jDq5fm0m2hs8U0ByQEf-xjcDg", // from https://developer.paypal.com/developer/applications/
                        production:
                          "AdGTm7tqdOFXOaYzb5owXSr7hBGqBZs9sppaiDpWIWG5bflrBEHwF2zAvMpF26DHEJSXjLJZIw84sy11" // from https://developer.paypal.com/developer/applications/
                      },

                      // Pass the payment details for your transaction
                      // See https://developer.paypal.com/docs/api/payments/#payment_create for the expected json parameters

                      payment: function(data, actions) {
                        // Set up a url on your server to create the payment
                        console.log("Initiate action on package", that.package);

                        return paypal.request({
                            method: "POST",
                            url: that.appConfig.apiRoot + "/action/package/buy_package",
                            json: {
                              attributes: {
                                package_id: that.package.id
                              }
                            }
                          })
                          .then(function(res) {
                            console.log("Response from paypal request", res);
                            return res[res.length - 1].Attributes["shared_reference_id"];
                          });

                        // actionManager.doAction("package", "buy_package", {
                        //   package_id: that.package.id,
                        // }).then(function(response){
                        //   console.log("action completion response", response);
                        //   var id = response[response.length - 1].Attributes["shared_reference_id"];
                        //   console.log("return new payment id", id);
                        //   return id;
                        // })
                      },

                      // Display a "Pay Now" button rather than a "Continue" button
                      commit: true,

                      // Pass a function to be called when the customer completes the payment
                      onAuthorize: function(data, actions) {
                        return actions.payment
                          .execute()
                          .then(function(response) {
                            console.log("The payment was completed!", response);
                          });
                      },

                      // Pass a function to be called when the customer cancels the payment

                      onCancel: function(data) {
                        that.paymentCompleteText = "The payment was cancelled!";
                        that.paymentCompleted = true;
                        console.log("The payment was cancelled!");
                      },
                      style: {
                        size: "large", // tiny, small, medium
                        color: "blue", // orange, blue, silver
                        shape: "rect" // pill, rect
                      }
                    },
                    "#payment"
                  );
                });
            });
          });
      });
    }
  },
  metaInfo() {
    var that = this;
    console.log("Get meta info", arguments);
    return {
      title: that.image.title
    };
  },
  mounted() {
    this.setup();
  }
};
</script>
<style>
/*.pricing_card {*/
/*padding: 10px;*/
/*}*/
</style>
