<template>
  <v-container fluid grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex d-flex xs12 sm6 md6>

        <div class="hello">
          <h3>{{ msg }}</h3>
          <span>
      Rent out your docker image, easily.
    </span>

        </div>
      </v-flex>
    </v-layout>
  </v-container>

</template>

<script>
  import {getToken} from '../api/auth'

  export default {
    name: 'hello',
    data() {
      return {
        msg: 'DockerCell'
      }
    },
    mounted() {
      if (getToken()) {
        this.$router.push({
          name: "MyImages"
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #35495E;
  }
</style>
