<template>
  <v-layout row wrap justify-center>
    <v-flex md3 v-for="image in images" :key="image.title">

      <v-card style="margin: 10px">
        <v-card-media
          class="white--text"
          height="200px"
          :src="image.image_url">

          <v-container fill-height fluid>
            <v-layout fill-height>
              <v-flex xs12 align-end flexbox>
                <span class="headline">{{image.title}}</span>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-media>
        <v-card-title>
          <div>
            <span>{{image.description_line1}}</span><br>
            <span>{{image.description_line2}}</span>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue" :to="'/image/' + image.title">See Packages</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>

</template>
<script>
  import jsonApi from '../api/jsonapi';
  import worldManager from '../api/worldmanager';

  export default {
    name: "ListImages",
    data() {
      return {
        images: []
      }
    },
    metaInfo: {
      // all titles will be injected into this template
      title: "Images",
    },
    mounted() {
      console.log("mounted images");
      var that = this;
      worldManager.loadModel("image").then(function (res) {
        jsonApi.findAll("image", {
          page: {
            number: 1,
            size: 12,
          }
        }).then(function (images) {
          images = images.data;
          console.log("images", images);
          that.images = images;
          for (let image of images) {
            console.log("image", image);
          }

        })
      })

    }

  }
</script>
