<template>

  <v-container fluid grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex d-flex xs12 sm6 md4>

        <v-layout row wrap justify-space-around>

          <v-flex d-flex md12>
            <h2>Log in</h2>
          </v-flex>
          <v-flex d-flex md12>
            <v-layout row wrap>
              <v-flex d-flex xs12>
                <v-form v-model="valid">
                  <v-text-field
                    label="Email"
                    v-model="email"
                    :rules="emailRules"
                    :counter="10"
                    required
                  ></v-text-field>
                  <v-text-field
                    label="Password"
                    type="password"
                    v-model="password"
                    required
                  ></v-text-field>
                  <v-btn
                    @click="login" color="primary"
                  >
                    Login
                  </v-btn>
                  <v-btn
                    @click="signup" color="orange"
                  >
                    Create an account
                  </v-btn>

                </v-form>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
  </v-container>


</template>

<script>
  const queryString = require('../utils/query-string');
  import {mapActions} from 'vuex';
  import actionManager from '../api/actionManager'

  export default {
    name: 'Login',
    data() {
      return {
        msg: 'Login',
        dialog2: false,
        username: "",
        password: "",
        valid: false,
        name: '',
        nameRules: [
          (v) => !!v || 'Name is required',
          (v) => v.length <= 10 || 'Name must be less than 10 characters'
        ],
        email: '',
        emailRules: [
          (v) => !!v || 'E-mail is required',
          (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ]
      }
    },
    methods: {
      signup() {
        this.$router.push({
          name: "Register"
        })
      },
      login() {
        console.log("do login");
        var that = this;
        actionManager.doAction("user", "signin", {
          email: this.email,
          password: this.password,
        }).then(function (res) {
          console.log("login action response", arguments);
          if (res[0].Attributes.value) {
            that.setToken(res[0].Attributes.value);

            var lastPath = window.localStorage.getItem("last");
            if (lastPath) {
              window.localStorage.removeItem("last");
              that.$router.push({
                path: lastPath
              });
            } else {

              that.$router.push({
                name: 'MyImages'
              });
            }


          }
        })
      },
      goto(name) {
        window.location = '/auth/oauth2/' + name;
      },
      ...mapActions({
        "setToken": "setToken"
      })
    },
    mounted() {
      const parsed = queryString.getParameterByName("token", location.search);
      console.log("Query string", parsed);
      if (parsed) {
        this.setToken(parsed);
      } else {
        this.dialog2 = true;
      }
    },
    updated() {

    }
  }
</script>
