<template>
  <v-layout row wrap justify-space-around>
    <v-flex d-flex xs12 sm6 md8>
      <v-layout row wrap>
        <v-flex md12>
          <h2>Images</h2>
        </v-flex>
        <v-flex md12>
          <v-btn color="green" :to="'/my/images/new'">Add new image</v-btn>

        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex d-flex xs12 sm6 md8>
      <v-layout row wrap>
        <v-flex md12>
          <v-data-table
            :headers="headers"
            :items="images"
            item-key="name"
            hide-actions>
            <template slot="items" slot-scope="props">
              <tr @click="props.expanded = !props.expanded">
                <td>{{ props.item.title }}</td>
                <td>{{ props.item.image }}</td>
                <td>{{ props.item.port }}</td>
                <td>{{ props.item.created_at }}</td>
                <td class="text-xs-right">
                  <v-btn color="orange" v-if="props.item.status == 'available'">Make unavailable</v-btn>
                  <v-btn color="green" v-if="props.item.status == 'unavailable'">Make available</v-btn>
                  <v-btn color="primary" :to="'/my/image/' + props.item.id">Details</v-btn>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>
<script>

  import jsonApi from '../api/jsonapi'
  import worldManager from '../api/worldmanager'
  import {getUserEmail} from '../api/auth'

  export default {
    name: "MyImages",
    data() {
      return {
        images: [],
        jsonApi: jsonApi,
        headers: [
          {text: 'Name', value: 'name', align: 'left'},
          {text: 'Docker Image', value: 'image', align: 'left'},
          {text: 'Port', value: 'port', align: 'left'},
          {text: 'Created at', value: 'created_at', align: 'left'},
          {text: 'Actions', align: 'right', value: ''},
        ],
      }
    },
    mounted() {
      console.log("mounted my images");
      var that = this;
      worldManager.loadModel("image").then(function () {
        var email = getUserEmail()();
        console.log("current user email", email);

        that.jsonApi.findAll("user", {
          filter: email
        }).then(function(res){
          
          var self = res.data[0];
          var selfReferenceId = self.id;

          that.jsonApi.one("user", selfReferenceId).all("image_id").get({
            page:{
              number: 1,
              size: 10,
            }
          }).then(function (res) {
            console.log("all images", res);
            that.images = res.data;
          });
        })

      })


    }
  }
</script>
