<template>

  <v-container fluid grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex d-flex xs12 sm6 md4>

        <v-layout row wrap justify-space-around>

          <v-flex d-flex md12>
            <h3>Add new image</h3>
          </v-flex>

          <v-flex d-flex md12>

            <v-layout row wrap>
              <v-flex d-flex xs12>
                <v-form>
                  <v-text-field
                    label="Name"
                    v-model="name"
                    required></v-text-field>
                  <v-text-field
                    label="Docker image"
                    v-model="imageName"
                    required></v-text-field>
                  <v-text-field
                    label="Port" type="number"
                    v-model="port"
                    required></v-text-field>
                  <v-btn
                    @click="addImage" color="primary">
                    Add Image
                  </v-btn>
                </v-form>
              </v-flex>
            </v-layout>

          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>

</template>
<script>
  import jsonApi from '../api/jsonapi';
  import worldManager from '../api/worldmanager'

  export default {
    name: "NewImage",
    mounted() {
      console.log("Mounted new image");
      worldManager.loadModel("image");
    },
    data() {
      return {
        imageName: "",
        name: "",
        port: "",
      }
    },
    methods: {
      addImage() {
        var that = this;
        console.log("add image", this.imageName);
        jsonApi.create("image", {
          title: this.name,
          image: this.imageName,
          port: this.port,
          configuration: '{}'
        }).then(function (res) {
          console.log("Created image", res);
          that.$router.push({
            name: "MyImages"
          })
        })
      },
    }
  }
</script>
