<template>

  <v-container fluid grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex d-flex xs12 sm6 md4>

        <v-layout row wrap justify-space-around>

          <v-flex d-flex md12>
            <h3>Add new package</h3>
          </v-flex>

          <v-flex d-flex md12>

            <v-layout row wrap>
              <v-flex d-flex xs12>
                <v-form>
                  <v-text-field
                    label="Package name"
                    v-model="name"
                    required></v-text-field>
                  <v-text-field
                    label="Cost (USD)"
                    v-model="cost"
                    required></v-text-field>
                  <v-btn
                    @click="addImage" color="primary">
                    Add Package
                  </v-btn>
                </v-form>
              </v-flex>
            </v-layout>

          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>

</template>
<script>
  import jsonApi from '../api/jsonapi';
  import worldManager from '../api/worldmanager'

  export default {
    name: "NewPackage",
    mounted() {
      console.log("Mounted new image", this.$route.params.image_id);
    },
    data() {
      return {
        name: "basic",
        cost: "10",
      }
    },
    methods: {
      addImage() {
        var that = this;
        console.log("add image", this.imageName);
        jsonApi.create("package", {
          package_name: this.name,
          cost: this.cost,
          image_id: {
            id: this.$route.params.image_id,
            __type: "image"
          }
        }).then(function (res) {
          console.log("Created package", res);
          that.$router.push({
            name: "ViewImage",
            params: {
              image_id: that.$route.params.image_id,
            }
          })
        })
      },
    }
  }
</script>
