<template>

  <v-container fluid grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex d-flex xs12 sm6 md4>

        <v-layout row wrap justify-space-around>

          <v-flex d-flex md12>
            <h2>Sign up</h2>
          </v-flex>
          <v-flex d-flex md12>
            <v-layout row wrap>
              <v-flex d-flex xs12>
                <v-form v-model="valid">
                  <v-text-field
                    label="Name"
                    v-model="name"
                    required
                  ></v-text-field>
                  <v-text-field
                    label="Email"
                    v-model="email"
                    :rules="emailRules"
                    required
                  ></v-text-field>

                  <v-text-field
                    label="Password"
                    type="password"
                    :counter="10"
                    v-model="password"
                    required
                  ></v-text-field>
                  <v-text-field
                    label="Password confirm"
                    type="password"
                    v-model="passwordConfirm"
                    required
                  ></v-text-field>
                  <v-btn
                    @click="register" color="primary"
                  >
                    Sign up
                  </v-btn>
                  <v-btn
                    @click="signup" color="orange"
                  >
                    Login existing account
                  </v-btn>

                </v-form>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>

    </v-layout>
  </v-container>


</template>

<script>
  const queryString = require('../utils/query-string');
  import {mapActions} from 'vuex';
  import actionManager from '../api/actionManager'

  export default {
    name: 'Register',
    data() {
      return {
        msg: 'Login',
        dialog2: false,
        username: "",
        password: "",
        passwordConfirm: "",
        valid: false,
        name: '',
        nameRules: [
          (v) => !!v || 'Name is required',
          (v) => v.length <= 10 || 'Name must be less than 10 characters'
        ],
        email: '',
        emailRules: [
          (v) => !!v || 'E-mail is required',
          (v) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
        ]
      }
    },
    methods: {
      signup() {
        this.$router.push({
          name: "Login"
        })
      },
      register(){
        var that = this;
        console.log("do register");
        actionManager.doAction("user", "signup", {
          email: this.email,
          password: this.password,
          name: this.name,
          passwordConfirm: this.passwordConfirm,
        }).then(function(res){
          console.log("register action response", arguments);
          that.$router.push({
            name: "Login"
          });
          actionManager.doAction("user", "signin", {
            email: that.email,
            password: that.password,
          }).then(function (res) {
            that.$router.push({
              name: "MyImages"
            })
          })
        })
      },
      goto(name){
        this.$router.push('/auth/login')
      },
      ...mapActions({
        "setToken": "setToken"
      })
    },
    mounted() {
      const parsed = queryString.getParameterByName("token", location.search);
      console.log("Query string", parsed);
      if (parsed) {
        this.setToken(parsed);
      } else {
        this.dialog2 = true;
      }
    },
    updated() {

    }
  }
</script>
