<template>

  <v-container fluid grid-list-md>
    <v-layout row wrap justify-space-around>
      <v-flex d-flex xs12 sm6 md8 v-if="imageData">
        <v-layout row wrap>
          <v-flex md12>
            <h2>{{imageData.title}}</h2>
            <v-chip>image: {{imageData.image}}</v-chip>
          </v-flex>
          <v-flex md12>
            <v-btn color="green" :to="'/my/image/' + imageData.id + '/package/new'">Add package</v-btn>
            <v-btn color="grey" :to="'/my/images/'">Back</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex d-flex xs12 sm6 md8>

        <v-data-table
          :headers="headers"
          :items="packages"
          item-key="name"
          hide-actions>
          <template slot="items" slot-scope="props">
            <tr @click="props.expanded = !props.expanded">
              <td>{{ props.item.package_name }}</td>
              <td>{{ props.item.cost }}</td>
              <td>{{ props.item.created_at }}</td>
              <td class="text-xs-right">
                <v-btn color="orange" v-if="props.item.status == 'available'">Make unavailable</v-btn>
                <v-btn color="green" v-if="props.item.status == 'unavailable'">Make available</v-btn>
                <v-btn color="red" @click="deletePackage(props.item.id)">Delete</v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import jsonApi from '../api/jsonapi';
  import worldManager from '../api/worldmanager'

  export default {
    name: "ViewImage",

    mounted() {
      var that = this;
      var imageId = this.$route.params.image_id;
      this.imageId = imageId;
      console.log("Mounted new image", this.$route.params.image_id);

      worldManager.loadModel("image").then(function (res) {
        console.log("loaded model");
        jsonApi.find("image", that.imageId, {}).then(function (res) {

          worldManager.loadModel("package").then(function (re) {

            jsonApi.builderStack = [];
            jsonApi.one("image", that.imageId).all("package_id").get({
              "page[number]": 1,
              "page[size]": 50
            }).then(function (res) {
              console.log("image packages", res.data);
              that.packages = res.data;
            });

          });

          console.log("found image", res);
          var imageData = res.data;
          that.imageData = imageData;


        })
      });


    },
    data() {
      return {
        imageData: null,
        imageId: "",
        headers: [
          {text: 'Name', value: 'package_name', align: 'left'},
          {text: 'Cost', value: 'cost', align: 'left'},
          {text: 'Created at', value: 'created_at', align: 'left'},
          {text: 'Actions', align: 'right', value: ''},
        ],
        packages: [],
      }
    },
    methods: {
      deletePackage(packageId) {
        jsonApi.destroy("package", packageId).then(function (res) {
          console.log("Destroy response", res);
        })
      }
    }
  }
</script>
