<template>
  <v-app dark>

    <v-toolbar fixed app :clipped-left="clipped">
      <v-btn icon to="/">
        <v-icon>home</v-icon>
      </v-btn>
      <v-btn icon to="/my/images/new">
        <v-icon>add</v-icon>
      </v-btn>
      <v-btn icon to="/my/images">
        <v-icon>list</v-icon>
      </v-btn>

      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn color="orange" v-if="!isLoggedIn" @click="login">
        Login
      </v-btn>
      <v-btn color="blue" v-if="!isLoggedIn" to="/auth/register">
        Sign up
      </v-btn>

      <v-btn v-if="isLoggedIn" icon light @click.stop="rightDrawer = !rightDrawer">
        <v-icon class="white--text">dashboard</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <v-content>
        <v-container fluid>
          <v-slide-y-transition mode="out-in">
            <router-view></router-view>
          </v-slide-y-transition>
        </v-container>
      </v-content>
    </main>
    <v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      app>
      <v-list>
        <v-list-tile @click="doLogout()">
          <v-list-tile-action>
            <v-icon light>logout</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Logout</v-list-tile-title>
        </v-list-tile>


      </v-list>
    </v-navigation-drawer>
    <v-footer :fixed="fixed" app>
      <v-spacer></v-spacer>
      <span>Docile &copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex';

  export default {
    methods: {
      ...mapActions(["logout", "setToken"]),
      login() {
        this.$router.push({
          name: 'Login'
        })
      },
      doLogout() {
        this.rightDrawer = false;
        this.logout();
        this.$router.push({
          name: "Login"
        })
      },
      checkTokenExpiry() {
        var tok = window.localStorage.getItem("token");
        if (tok) {
          this.setToken(tok);
        } else {
          return
        }
        var user = window.localStorage.getItem("user");
        if (user != null) {
          try {
            var userObj = JSON.parse(user);
            if (userObj.exp * 1000 < new Date().getTime()) {
              window.localStorage.clear();
              this.$router.push({
                name: "Login"
              })
            }
          } catch (e) {
            window.localStorage.clear();
            this.$router.push({
              name: "Login"
            })
          }
        }
      }
    },
    computed: {
      ...mapGetters(["isLoggedIn"]),
    },

    updated() {
      this.checkTokenExpiry();
    },
    mounted() {
      this.checkTokenExpiry();
    },
    metaInfo: {
      // all titles will be injected into this template
      title: "Home",
      titleTemplate: '%s | Docile'
    },
    data() {
      return {
        clipped: false,
        drawer: true,
        fixed: false,
        items: [{
          icon: 'bubble_chart',
          title: 'Inspire'
        }],
        miniVariant: false,
        right: true,
        rightDrawer: false,
        title: 'Docile'
      }
    }
  }
</script>
